body {
	padding: 0px;
	margin: 0px;
	background: #F00FAA;
}
.navbar{
	background:#6ab446;
}
.nav-link, .navbar-brand {
	color: #0F0F0F;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	color: #ABABAB;
}
.navbar-collapse {
	justify-content: flex-end;
}


.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border:1px solid #6ab446;
	background-color:#6ab446;
	border-radius: 0;
	color:#fff;
}
.description button:hover {
	border:1px solid #fff;
	background-color:#fff;
	color: #000;
}
.features .form-control,.features input {
	border-radius: 0;
}
.features .btn {
	background-color: #589b37;
	border: 1px solid #589b37;
	color: #fff;
	margin-top: 20px;
}
.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}
.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}
.footer-copyright {
	color: #666;
	padding: 40px 0;
}

@media (max-width: 575.98px) {
	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	.description h1 {
		font-size: 2em;
	}
	.description p {
		font-size: 1.2rem;
	}
	.features {
		margin: 0;
	}
}

